Cython==0.29.24
cmdstanpy==0.9.5
pystan==2.19.1.1
python-editor==1.0.4
python-slugify==5.0.2
numpy
pandas==1.3.0
matplotlib>=2.0.0
convertdate==2.3.2
holidays==0.11.3.1
setuptools>=42
setuptools-git>=1.2
python-dateutil>=2.8.0
tqdm>=4.36.1
wheel>=0.37.0
fbprophet==0.7.1
flask
flasgger
nsepy
sklearn
korean-lunar-calendar==0.2.1
locket==0.2.1
LunarCalendar==0.0.9
convertdate==2.3.2
Pillow==8.2.0
